<div class="container">
    <h2>Them San Pham</h2>
    <form action="/add" method="post" enctype="multipart/form-data">
    <div class="form-group" >
        <label for="ten">Nhap Ten</label>
        <input class="form-control" type="text" name="ten" id="ten" placeholder="Nhap ten" required>
    </div>
 <select class="form-select" aria-label="Default select example" name="hang">
  <option selected>Sản Phẩm</option>
  <option value="ô tô">ô tô</option>
  <option value="xe máy">xe máy</option>
  <option value="xe tăng">xe tăng</option>
   <option value="xe tăng">xe đạp</option>
    <option value="xe điện">xe điện</option>
</select>
      <div class="form-group" >
        <label for="anh">Nhap anh</label>
        <input class="form-control" type="file" name="anh" id="anh" placeholder="Nhap anh" required>
    </div>
      <div class="form-group" >
        <label for="gia">Nhap Ten</label>
        <input class="form-control" type="number" name="gia" id="gia" placeholder="Nhap gia" required>
    </div>
      <div class="form-group" >
        <label for="binh_luan">Nhap binh_luan</label>
        <textarea class="form-control" type="text" name="binh_luan" id="binh_luan" placeholder="Nhap ten" required></textarea>
    </div>

<button type="submit" class="btn btn-success">Thêm</button>
<button type="button" class="btn btn-danger"><a href="/">Trở lại</a></button>

    </form>
</div>